{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
    <h3>Добро пожаловать</h3>
    <table class="table-info">
        <tbody>
            <tr class="table-light">
                <th class="table-light">
                    Имя:
                </th>
                <td>
                    {{ name }}
                </td>
            </tr>
            <tr class="table-light">
                <th class="table-light">
                    Фамилия:
                </th>
                <td>
                    {{ surname }}
                </td>
            </tr>
            <tr class="table-light">
                <th class="table-light">
                    Пол:
                </th>
                <td>
                    {{ "Мужской" if sex == "M" else "Женский" }}
                </td>
            </tr>
            <tr class="table-light">
                <th class="table-light">
                    Дата рождения:
                </th>
                <td>
                    {{ birthday }}
                </td>
            </tr>
            <tr class="table-light">
                <th class="table-light">
                    Город:
                </th>
                <td>
                    {{ city }}
                </td>
            </tr>
            <tr class="table-light">
                <th class="table-light">
                    Интересы:
                </th>
                <td>
                    {{ interests }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}